.title {
   margin-bottom: $mg-2;

   p {
      @include styleText($fs-2, $fw-1, $color-black-1);
      margin-top: $mg-1;
   }

   h1 {
      @include styleText($fs-5, $fw-1, $color-black-4);
      line-height: $lh-1;
   }

   h2 {
      @include styleText($fs-6, $fw-1, $color-black-4);
      line-height: $lh-2;
   }
}

@include responsive('extra-large-down') {
   .title {
      margin-bottom: 0;

      p {
         font-size: $fs-4;
      }

      h1 {
         font-size: $fs-7;
      }

      h2 {
         font-size: $fs-8;
      }
   }
}

@include responsive('medium-down') {
   .title {
      p {
         margin-bottom: 0;
      }
      h1 {
         font-size: $fs-8;
      }
   }
}