#follow {
   padding: $pd-1 0;
   text-align: center;

   .title {
      margin-bottom: $mg-4;
      h1 {
         @include styleText($fs-11, $fw-1, $color-black-1);
      }
   }

   .follow__icon {
      display: flex;
      justify-content: space-between;

      a {
         transition: all 0.5s;
         i {
            @include styleText($fs-6, $fw-1, $color-black-1);
         }

         &:hover {
            opacity: 0.8;
         }
      }
   }
}

@include responsive('extra-large-down') {
   #follow {
      padding: $pd-12 0;
      .title {
         h1 {
            font-size: $fs-5;
         }
      }
   }
}

@include responsive('medium-down') {
   #follow {
      padding: $pd-17 0;
      .title {
         margin-bottom: $mg-3;
         h1 {
            font-size: $fs-8;
         }
      }

      .follow__icon {
         a {
            i {
               font-size: $fs-13;
            }
         }
      }
   }
}