header {
   position: relative;
   .navbar {
      padding: 0;
   }

   .header__top {
      display: flex;
      position: fixed;
      z-index: 50;
      width: 100%;
      background-color: $color-black-1;
      height: $h-2;
      justify-content: space-between;
      padding: 0 $pd-8;

      .nav-link {
         @include styleText($fs-1, $fw-1, $color-gray-1);
         transition: all 0.5s;
         &:hover {
            @include styleText($fs-1, $fw-1, $color-white);
         }
      }

      .header__top-left {
         .active {
            @include styleText($fs-1, $fw-1, $color-white);
         }
         .left__item {
            position: relative;
            margin: 0 calc($mg-1 / 4);
            &::after {
               position: absolute;
               display: block;
               content: "";
               height: 11px;
               width: 2px;
               border-right: 1px solid gray;
               right: -10%;
               top: 35%;
            }
         }
      }

      .header__top-mid {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);

         a {
            display: block;
            padding: $pd-9;
            box-sizing: content-box;
            height: $h-6;
            overflow: hidden;

            img {
               object-fit: contain;
               height: 100%;
               width: 100%;
            }
         }
      }
      .header__top-right {
         .header__top-menu--mb {
            display: none;
            a {
               @include styleText($fs-4, $fw-1, $color-gray-1);
               transition: all 0.5s;
               &:hover {
                  @include styleText($fs-1, $fw-1, $color-white);
               }
            }
         }
      }
   }

   .header__bottom {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: $h-2;
      z-index: 50;
      width: 100%;
      height: $h-1;

      .navbar {
         .navbar-nav {
            flex-direction: row;

            .nav-item {
               padding: 0.7142857143rem 2.5714285714rem;
               .nav-link {
                  @include styleText($fs-4, $fw-1, $color-white);
               }
            }
         }
      }
   }
}

@include responsive("extra-large-down") {
   header {
      .header__top {
         .header__top-left {
            display: none;
         }

         .header__top-right {
            justify-content: space-between;
            width: 100%;
            .navbar-nav {
               .nav-item:first-child {
                  .nav-link {
                     font-size: $fs-4;
                     i {
                        display: none;
                     }
                  }
               }
               .nav-item:last-child {
                  display: none;
               }
            }

            .header__top-menu--mb {
               display: block;
            }
         }
      }
      .header__bottom {
         display: none;
      }
   }
}
