#teaser {
   padding: $pd-2 $pd-3 $pd-1;

   .teaser__left {
      padding-right: 35px;

      .teaser__left-top {
         margin-bottom: 13.7142857143rem;
      }
   }

   .teaser__right {
      padding-left: 8.3333%;

      .teaser__right-top {
         margin-top: calc(13.7142857143rem * 2);
         margin-bottom: 13.7142857143rem;
      }
   }
}

@include responsive("extra-large-down") {
   #teaser {
      padding: $pd-10 $pd-11 $pd-12;
   }
}

@include responsive("medium-down") {
   #teaser {
      padding: $pd-16 $pd-15 $pd-14;
   }
}
