#vehicle {
   padding: $pd-1 $pd-3;
   background-color: $color-black-1;

   .vehicle__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
         p {
            @include styleText($fs-4, $fw-1, $color-white);
            line-height: $lh-5;
         }
   
         h1 {
            @include styleText($fs-9, $fw-1, $color-white);
         }
      }
   
      .description {
         width: 60%;
         p {
            @include styleText($fs-10, $fw-1, $color-white);
            line-height: $lh-6;
            margin-bottom: 0;
         }

         .btn--mer {
            margin-top: $mg-3;
         }
      }
   }

   .vehicle__right {
      .vehicle__img {
         img {
            height: $h-5;
            object-fit: cover;
            width: 100%;
         }
      }
   }
}

@include responsive('extra-large-down') {
   #vehicle {
      padding: $pd-12 $pd-11;

      .vehicle__left {
         .title {
            p {
               line-height: unset;
            }
            h1 {
               font-size: $fs-7;
            }
         }

         .description {
            p {
               font-size: $fs-4;
            }
         }
      }
   }
}

@include responsive("medium-down") {
   #vehicle {
      padding: $pd-14 $pd-15;

      .row {
         position: relative;

         .vehicle__left {
            .description {
               margin-top: 55.03vw;
               width: 100%;
            }
         }

         .vehicle__right {
            position: absolute;
            top: 150px;
            left: 0;
            z-index: 10;
         }
      }
   }
}